.job1-logo-container {
  z-index: 0;
  width: 260px;
  height: 260px;
  opacity: 1;
  position: absolute;
  top: 45%;
  right: 10%;
  transform: translateY(-50%);
}

@media (max-width: 1000px) {
  .job1-logo-container{
    position: relative;
    width: 200px;
    height: 200px;
    top: 90px;
    right: 0;
    box-sizing: border-box;
    margin: 0 auto;
    left: 0px;
  }
}

/* Remove previous rotate/fade rules to prevent sideways view */
.svg-container,
.solid-logo { display: none; }