.logo-container {
  z-index: 0;
  width: 400px;
  height: 400px;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: 550px;
  margin: auto;

  .initials-avatar.lg {
    width: 320px;
    height: 320px;
    font-size: 112px;
  }
}